.credits{
    border-style: dashed;
    border-color: transparent;
    width: fit-content;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}