.modal-header{
    border-radius: 8px 8px 0px 0px;
    background-color: #e3f2fd;
    border: 1px solid #e3f2fd;
}

.modal-body{
    background-color: #e3f2fd;
    border-radius: 0px 0px 8px 8px;
    border: solid 1px #e3f2fd;
}

.modal-footer{
    border-top: 1px solid #b0cde6;
}