<div *ngIf="categoria=='Benessere'">
    <i class="bi bi-heart"></i>
</div>
<div *ngIf="categoria=='Formazione'">
    <i class="bi bi-book"></i>
</div>
<div *ngIf="categoria=='Aggiornamento'">
    <i class="bi bi-arrow-clockwise"></i>
</div>
<div *ngIf="categoria=='Lingua'">
    <i class="bi bi-translate"></i>
</div>
<div *ngIf="categoria=='Marketing'">
    <i class="bi bi-graph-up"></i>
</div>
<div *ngIf="categoria=='Sicurezza'">
    <i class="bi bi-shield-check"></i>
</div>
<div *ngIf="categoria=='Altro'">
    <i class="bi bi-three-dots"></i>
</div>