<main id="main" class="main">
  <div class="pagetitle">
    <h1>Corsi</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Corsi</li>
      </ol>
    </nav>
  </div>
  <div class="margin">
    <div class="mb-3">
      <button type="button" class="btn btn-primary" routerLink="/dettaglio_corso">
        Aggiungi Corso/Modifica Corso
      </button>
    </div>

    <!--<div *ngIf="alert.getSuccessAlert()" class="alert alert-success alert-dismissible fade show" role="alert">
          Dipendente aggiunto con successo
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>-->
  </div>


    <app-corsi-card></app-corsi-card>
</main>