<main id="main" class="main">
        <div class="pagetitle">
            <h1>Dettaglio corso</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/corsi">Corsi</a></li>
                    <li class="breadcrumb-item active">Dettagli corso</li>
                </ol> 
            </nav>
                 
        </div><!-- End Page Title -->
    
        <section>
            <div class="row ">
                <div class="col col-lg-12 mb-4 mb-lg-0">
                    <div class="card mb-0" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Iscriviti al corso</button>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body p-4">
                                    <h6>Informazioni coso: </h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Azienda erogatrice:</h6>
                                            <p class="text-muted">Nome dell'azienda</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Durata: </h6>
                                            <p class="text-muted">36h</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Posti disponibili:</h6>
                                            <p class="text-muted">120 posti</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>costo:</h6>
                                            <p class="text-muted">100 </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Esame finale:</h6>
                                            <p class="text-muted">Esame finale a risposta multipla in 120 minuti di tempo</p>
                                        </div>
                                    </div>

                                    <h6>Descrizione: </h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-12 mb-3">
                                            <!--<h6>Recent</h6>-->
                                            <p class="text-muted">Descrizione del corso, jygdrsfhg ksugdu skudhffkuy ie i iuiuirewer weiuwoiuriowuer o oiuiouoiuw eriuowi ueroiuweoiur woiurw oi oiuouwoieur owiur oiwur iouw oiru woieur iowuriouwe oiruiuiouue oiuoiuoiuiouerw oiuoiuiuouo wouorwu</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Competenze:</h6>
                                            <p class="text-muted">Competenze rilasciate dal corso e attestati validi</p>
                                        </div>
                                    </div>

                                    
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div >
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Iscriviti al corso</button>
            </div>
        </section>

        <section>
            <div class="pagetitle">
                <h1>Altri Corsi Disponibili</h1>
            </div>
           <div>

           </div> 
        </section>
</main>
