<div id="main" class="main ">

    <!-- Aziende -->
    <div class="pagetitle">
        <h1>Aziende</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Aziende</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <app-aziende-tabella [aziende]="aziende"></app-aziende-tabella>

    <!-- Documenti -->
    <div class="pagetitle">
        <h1>Documenti Aziendali</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Documenti Aziendali</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <app-documenti-tabella [documenti]="documenti"></app-documenti-tabella>

    <!-- Dipendenti -->
    <div class="pagetitle">
        <h1>Dipendenti</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Dipendenti</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <app-dipendenti-tabella [dipendenti]="dipendenti"></app-dipendenti-tabella>

</div>