<div id="main" class="main ">

    <div class="pagetitle">
        <h1>Dipendenti</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Dipendenti</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="margin">

        <div class="mb-3 d-flex gap-2" *ngIf="this.auth.getRole()=='A'">
            <button type="button" class="btn btn-primary"
                (click)="openAddDipendenteModal()">
                Aggiungi Dipendente
            </button>

            <button (click)="openAddDipendentiLista()" type="button" class="btn btn-primary" data-bs-toggle="modal">
                Aggiungi lista di dipendenti
            </button>
        </div>

        <app-alert [page]="'Dipendenti'"></app-alert>

    </div>
    <app-dipendenti-tabella *ngIf="isInitialized && dipendenti && dipendenti.length > 0"
        [dipendenti]="dipendenti"></app-dipendenti-tabella>
    <app-nessun-componente *ngIf="!isInitialized || dipendenti && dipendenti.length === 0" ></app-nessun-componente>
</div>