<!-- Sales Card -->
<div class="col-xl-12 col-md-12 col-sm-12">
    <div class="card info-card sales-card">
  
      <div class="card-body">
        <h5 class="card-title">Azienda selezionata <span>| Null</span></h5>
  
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-building"></i>
          </div>
  
          <div class="ps-3 col-xxl-11 col-10">
            <select class="form-select" id="aziendaSelect">
              <option value="" disabled selected hidden>Seleziona azienda</option>
              <option value="azienda1">Azienda 1</option>
              <option value="azienda2">Azienda 2</option>
              <option value="azienda3">Azienda 3</option>
            </select>
          </div>
        </div>
      </div>
  
    </div>
  </div><!-- End Sales Card -->
  