<div class="card">
    <div class="card-body">
      <h5 class="card-title">Azioni Rapide</h5>
  
      <button (click)="openAddAziendaModal()" type="button" class="btn btn-primary btn-block d-block mb-3" *ngIf="this.auth.getRole()=='C'" >Aggiungi Azienda</button>
      <button (click)="openAddCorsoModal()" type="button" class="btn btn-primary btn-block d-block mb-3" *ngIf="this.auth.getRole()=='C'" >Aggiungi Corso</button>
      <button (click)="openAddDocumentoModal()" type="button" class="btn btn-primary btn-block d-block mb-3" *ngIf="this.auth.getRole()=='A'" >Aggiungi Documento Aziendale</button>
      <button (click)="openAddDipendenteModal()" type="button" class="btn btn-primary btn-block d-block" *ngIf="this.auth.getRole()=='A'" >Aggiungi Dipendente</button>
    </div>
  </div>
  