<div class="card">

    <div class="card-body">
        <h5 class="card-title">Corsi<span> | <a routerLink="/corsi">Gestisci</a></span></h5>

        <div class="card-header" type="button" routerLink="/dettaglio_corso">
            <div class="row align-items-center">
                <h6 class="card-title text-wrap">Nome Corso Prova testo lungo e poi ssd sdsd sdsd </h6>
            </div>
        </div>

        <div class="card-header" type="button" routerLink="/dettaglio_corso">
            <div class="row align-items-center">
                <h6 class="card-title text-wrap">Nome Corso Prova testo lungo e poi ssd sdsd sdsd </h6>
            </div>
        </div>

        <div class="card-header" type="button" routerLink="/dettaglio_corso">
            <div class="row align-items-center">
                <h6 class="card-title text-wrap">Nome Corso Prova testo lungo e poi ssd sdsd sdsd </h6>
            </div>
        </div>


    </div>

</div>