<div class="card">
    <div class="card-body">
      <h5 class="card-title">Corsi<span> | <a routerLink="/corsi">Gestisci</a></span></h5>
  
      <div *ngFor="let corso of corsi" class="card-header" type="button" routerLink="/corsi/{{corso.id}}">
        <div class="row align-items-center">
          <div class="col-auto">
            <app-corsi-icon [categoria]="corso.categoria"></app-corsi-icon>
          </div>
          <div class="col">
            <h6 class="card-title text-wrap">{{corso.nome}}</h6>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  