<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white" matSort>
                <thead class="bg-light">
                    <tr>
                        <th mat-sort-header="nome">Nome</th>
                        <th mat-sort-header="dataScadenza">Data Scadenza</th>
                        <th mat-sort-header="stato">Stato</th>
                        <th mat-sort-header="formato">Formato</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Dati Documento 1-->
                    <tr *ngFor="let documento of documenti">
                        <td>
                            <div class="d-flex align-items-center">
                                <h3 class="bi bi-file-earmark-pdf"></h3>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{documento.nome}}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{documento.dataScadenza}}</td>
                        <td>
                            <span *ngIf="documento.stato=='valido'" class="badge badge-pill badge-success">{{documento.stato}}</span>
                            <span *ngIf="documento.stato=='scaduto'" class="badge badge-pill badge-danger">{{documento.stato}}</span>
                            <span *ngIf="documento.stato=='in scadenza'" class="badge badge-pill badge-warning">{{documento.stato}}</span>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{documento.formato}}</p>
                        </td>
                        <td>
                            <a class="fw-bold small" data-mdb-ripple-color="dark" href="#">Aggiorna/</a>
                            <a class="fw-bold small" data-mdb-ripple-color="dark" href="#">Scarica/</a>
                            <a class="fw-bold small" data-mdb-ripple-color="dark" href="#">Elimina</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>